
A:link {color: black}
A:visited, A:active {color: black}
A:hover {text-decoration: overline; color: black}
	
Body {
	background-color: tan;
	font-family: cambria;
	color: gray	
	}

H1 {font-size: 50pt; text-align: center}
H2 {font-size: 25pt; text-align: center}
H3 {font-size: 10pt; text-align: center}
H4 {font-size: 8pt;text-align: center}
H5 {font-size: 15pt}

P {font-size: 10pt; font-family: monospace}
/*contact form*/
Table {
	width: 50%; 
	font-family: monospace; 
	color: black; 
	background-color: white;
	margin: .8em;
	align-items: center;
	border-color: black}

input{
	width: 50%;
}

Form {
	width: 50%;
	height: auto;
	font-family: monospace; 
	text-align: center;
	color: black; 
	background-color: white}

img{
	width: 45%;
	height: auto;
}


@media screen and (max-width:220px){
	h1 {
		font-size: 15pt; 
		text-align: center;
	}
	h2{ 
		font-size: 6pt; 
		text-align: center;
	}
	h3{ 
		font-size: 5pt; 
		text-align: center;
	}
	h4{
		font-size: 6pt; 
		text-align: center;
	}
	h5{
		font-size: 9pt;
		text-align: center;
	}
	p{
		font-size: 4pt;

	}

}


@media screen and (max-width:480px){
	h1 {
		font-size: 25pt; 
		text-align: center;
	}
	h2{ 
		font-size: 12pt; 
		text-align: center;
	}
	h3{ 
		font-size: 8pt; 
		text-align: center;
	}
	h5{
		font-size: 12pt;
		text-align: center;
	}
	p{
		font-size: 6pt;
		
	}

}

@media screen and (max-width:750px){
	h1 {
		font-size: 35pt; 
		text-align: center;
	}
	h2{ 
		font-size: 20pt; 
		text-align: center;
	}
	h3{ 
		font-size: 15pt; 
		text-align: center;
	}
	h5{
		font-size: 17pt;
		text-align: center;
	}
	p{
		font-size: 9pt;
		
	}

}



